.card-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    max-height: 300px;
}

.card-title {
    text-align: center;
    margin-bottom: 20px;
    color: #1976d2;
    font-weight: bold;
}

.card-item {
    margin-bottom: 10px;
    font-size: 16px;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.toggle-button {
    margin-left: 10px;
    font-size: 12px;
    text-transform: none;
    color: #1976d2;
    border-color: #1976d2;
}
.update-button,
.save-button,
.cancel-button {
    margin-top: 15px;
    margin-right: 10px;
}

.edit-form {
    margin-top: 15px;
}

/* Modal için genel stil */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Modal arka planı */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Modal'ın üstte görünmesini sağlar */
}

/* Modal pencere kutusu */
.modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
}

/* Modal içeriği */
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Modal işlemleri (Kaydet ve İptal butonları) */
.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
